/*.grid{
    
    margin :100px 0 0;
    
}*/
.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    color: black;
    border-color: black;
    
}

.row {
    display: flex;
}
